.header {
  width: 100%;
  height: 60px;
  margin-bottom: 2.34vw;
  background-color: #88a3d6; }

@media screen and (max-width: 1279px) {
  .header {
    margin-bottom: 3.9vw; } }
@media screen and (max-width: 767px) {
  .header {
    margin-bottom: 6vw; } }
