.content {
	&__img {
		&_outside-first_mobile {
			display: none;
		}
		&_outside-first {
			float: left;
			width: 21%;
			margin-left: 2.34%;
		}

		&_outside-last {
			float: right;
			width: 18%;
			margin-right: 2.34%;
		}
		&_in-grid {
			margin-left: 24.22%; //!!!
			margin-right: 22.65%;
			text-align: left;
			font-size: 0;
			> img {
				width: 22%;
				display: inline-block;
				vertical-align: top;
				margin-left: 3%;
				margin-bottom: 1.56vw;
			}
		}
		&_outside-first,
		&_outside-last {
			> img {
				width: 100%;
			}
		}
	}

}

@media screen and (max-width:1279px) {
	.content {
		&__img {
			&_in-grid {
				margin-left: 29.69%; //!!!
				margin-right: 0;
				> img {
					margin: 0;
					width: 30.5%;
					margin-right: 2.7%;
					margin-bottom: 3.90vw;
				}
			}
			&_outside-last {
				clear: left;
				float: left;
				width: 26%;
				margin-right: 0;
				margin-left: 1.95%;
			}
			&_outside-first {
				float: left;
				width: 26%;
				margin-left: 1.95%;
				margin-bottom: 2.6vw;

			}
		}
	}

}

@media screen and (max-width:767px) {
	.content {
		overflow: hidden;
		&__img {
			&_in-grid {
				margin-left: 3.125%;
				margin-right: 0;
				width: 100%;
				> img {
					margin: 0;
					width: 44%;
					margin-right: 5.9%;
					margin-bottom: 6.25vw;
				}
			}
			&_outside-last,
			&_outside-first {
				display: none;
			}
			&_outside-first_mobile {
				display: block;
				padding-left: 3.125%;
				padding-right: 3.125%;
				margin-bottom: 6.25vw;
				> img {
					width: 100%;
				}
			}
		}
	}
}
